body {
  font-family: Overpass;
}

.timer {
  font-family: Quantico, sans-serif;
}

.app-header {
  margin-top: 10rem;
  font-family: "Fredericka the Great";
}

.how-to__header {
  font-family: "Fredericka the Great";
  margin: 10rem 0 10rem;
}
