@import url(https://fonts.googleapis.com/css?family=Quantico);

body {
  font-family: "Quantico", sans-serif;
  background-image: url("./Background-Images/wall-clock.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
